<div class="container" style="padding-top: 100px;">
  <div class="row m-3">
    <div class="col-md-6 mx-auto">
        <div class="jumbotron">
            <h1 class="display-4">
                Welcome to my Tchat App!
            </h1>
            <p class="lead">This is a simple chat App made by Pierre TROCHET with Spring Boot for the backend and Angular for the frontend.</p>
            <hr class="my-4">
            <p> You can create an account via Google or Facebook and then you can create a chat room with users you can choose and chat with them!</p>
            <p class="lead">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">
                    <i class="fas fa-sign-in-alt fa-lg"></i> Let's connect!</button>
            </p>
          </div>
    </div>
  </div>
</div>
